{% extends "base.html" %}

{% load static %}

{% block js_imports %}
  <script src="{% static 'libs/d3.min.js' %}"></script>
  <script src="{% static 'chatbot/js/instructions.js' %}"></script>
{% endblock %}

{% block title %}Instruction Video{% endblock %}

{% block content %}
<div class="main-loading">
    <div>
    Loading. Please wait.<br>
    <span class="progress">0 out of 60.</span><br>
    <img src="{% static 'chatbot/images/loading.gif' %}" />
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="info offset-1 col-10">
            <h1>Video Instruction</h1>
            <p>Please watch the instruction video below. 
            <br>
               You can turn on the subtitle, change the resolution or switch to full screen for better video quality.
            </p>

            <!-- with incentive instructions -->
            <p>The researcher may <strong>reject</strong> the compensation if the participant does not follow the instruction.</p>
            <iframe src="https://www.youtube.com/embed/YDFR0GKOpQQ?cc_load_policy=1" width="853" height="480" frameborder="0" allowfullscreen>
            </iframe>
            <!-- -->

            <!-- no incentive instructions
            <iframe src="https://www.youtube.com/embed/ua4lFTc7kss?cc_load_policy=1" width="853" height="480" frameborder="0" allowfullscreen>
            </iframe>
            -->

            {% if participant.created_for_testing %}
            <button class="shopgo btn btn-lg btn-primary mt-3 skipVideoButton">Skip</button>
            {% endif %}
            
            <div class="card">
                <div class="card-body">
                    <p>Please answer the following <strong>comprehension questions</strong> when you finish watching the video and feel ready to proceed.
                       You can always play back or pause to watch the details in the video if you feel not ready.</p>

                    <p>Please note you have <strong>two attempts to answer correctly</strong>, if you do not answer correctly twice,
                       you will be asked to <em>return</em> the study.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <form class="questionnaire" novalidate>
                    </form>
                </div>
            </div>

            <div class="card success" style="display: none;">
                <div class="card-body">
                    <p>
                    Thank you! You answered correctly.
                    </p>
                    <!--
                    <p>Before the actual experiment begins you will have a <strong>practice session</strong>, 
                    for you to become familiar with the system. This practice session will last 4 minutes</p>
                    -->
                    <button class="shopgo btn btn-lg btn-primary mt-3 startStudyButton">Got it! Start the study.</button>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
